.homepage-text {
  font-size: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8vh;
  margin-top: -5vh;
  white-space: nowrap;
}

.chain-icon {
  width: 5vw;
  transition: all 200ms linear;
  z-index: 1;

  &:hover {
    transform: scale(1.1);
    transition: all 200ms linear;
    cursor: pointer;
  }
}

.translucent {
  opacity: 0.4;
}

.search-field-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.icon-row-wrapper {
  margin-top: 3vh;
}

.MuiInputBase-input {
  color: white !important;
}

.MuiInputBase-root {
  color: white !important;
}

.MuiInputLabel-root {
  color: white !important;
}

.MuiInput-underline {
  color: white !important;
  border-bottom: 1px solid rgba(255,255,255, 0.42);
}

.MuiInput-underline:after {
  color: white !important;
  border-bottom: 2px solid #ffffff !important;
}

.MuiInputLabel-formControl {
  text-align: right !important;
}

.go-button {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background-color: #5DED6B;
  border: 0px;
  padding: 0px 5px;
  margin-bottom: 2px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .chain-icon {
    width: 15vw;
  }

  .homepage-text {
    font-size: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8vh;
    margin-top: -15vh;
    white-space: normal;
  }
}
