.homepage-text {
  font-size: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
}

.chain-icon {
  width: 5vw;
  transition: all 200ms linear;

  &:hover {
    transform: scale(1.1);
    transition: all 200ms linear;
    cursor: pointer;
  }
}

.search-field-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.icon-row-wrapper {
  margin-top: 3vh;
}

.MuiInputBase-input {
  color: white !important;
}

.MuiInputBase-root {
  color: white !important;
}

.MuiInputLabel-root {
  color: white !important;
}

.MuiInput-underline {
  color: white !important;
  border-bottom: 1px solid rgba(255,255,255, 0.42);
}

.MuiInput-underline:after {
  color: white !important;
  border-bottom: 2px solid #ffffff !important;
}

.MuiInputLabel-formControl {
  text-align: right !important;
}
