.header-text {
  font-size: 2em;
  text-align: left;
  margin-bottom: 3vh;
  font-family: WhiteRabbit;
}

.margin-top {
  margin-top: 10vh !important;
}

.body-text {
  margin-bottom: 2vh;
}

.ad-chain-img {
  width: 5vw;
  margin-bottom: 1vh;
  transition: all 200ms linear;
  transform: scale(1);
  &:hover {
    transform: scale(1.1);
    transition: all 200ms linear;
  }
}

.flex-one {
  flex: 1;
}

.ad-details-section {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.buy-ads-button {
  border-radius: 10px;
  user-select: none;
  padding: 2px 10px;
  font-size: 1.25em;
  font-family: Consolas, Inconsolata;
  color: rgb(138, 232, 122);
  background-color: rgb(35, 51, 40);
  border: 2px solid rgb(138, 232, 122);
  width: 100%;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 200ms linear;
  &:hover {
    color: white;
    border: 2px solid white;
    transition: all 200ms linear;
  }
}

@media (max-width: 768px) {
  .ad-chain-img {
    width: 10vw;
  }
}
