.break-line-top {
  border-top:1px solid rgb(217, 217, 217);
}

.disclaimer {
  font-size: 0.75em;
  max-width: 20vw;
}

.footer-section-header {
  font-weight: bold;
  margin-bottom: 1vh;
}

.footer-section-text {
  margin-bottom: 1vh;
  font-size: 0.8em;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer-subtitle {
  margin-top: 1vh;
  font-size: 1.2em;
}

.footer-logo-box {
  max-width: 10vw;
}

@media (max-width: 768px) {
  span:nth-child(2), span:nth-child(8) {
    flex-basis: 100%;
  }

  .disclaimer-column {
    margin-top: 4vh;
    width: 100vw !important;
  }

  .disclaimer {
    max-width: 95vw;
  }

  .footer-subtitle {
    width: 95vw;
    margin-bottom: 4vh;
  }

  .footer-logo-box {
    max-width: 95vw;
    width: 150px;
  }
}
