@import "flex-box";
@import "animations";
@import "main";

html, body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Consolas";
}

* {
  box-sizing: border-box;
}
