@import "flex-box";
@import "animations";
@import "main";
@font-face {
    font-family: 'Inconsolata';
    src: local('Inconsolata'), url(../fonts/Inconsolata-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'WhiteRabbit';
    src: local('New'), url(../fonts/whitrabt.ttf) format('truetype');
}

html, body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Consolas", Inconsolata, sans-serif;
}

@media (max-width: 768px) {
  body {
    margin-top: -8vh;
  }

  html {
    overflow-x: hidden;
  }
}

* {
  box-sizing: border-box;
}
